body{

margin:0;
font-family:Poppins;
color:white;

}


header{

text-align:center;
padding:40px;

}


.profile{

width:160px;
height:160px;

border-radius:50%;

border:4px solid gold;

}


section{

padding:30px;

}


.skill{

margin:20px 0;

}


.bar{

background:#333;
height:14px;

border-radius:10px;

}


.fill{

background:gold;

height:100%;

border-radius:10px;

animation:fillAnim 2s;

}


@keyframes fillAnim{

from{width:0}

}


.project{

background:#222;

padding:20px;

margin:10px;

cursor:pointer;

border-radius:10px;

transition:0.3s;

}


.project:hover{

background:gold;
color:black;

}


.modal{

display:none;

position:fixed;

background:black;

top:0;

width:100%;

height:100%;

}


.modal-content{

background:#111;

padding:30px;

margin:100px auto;

width:80%;

}


.close{

cursor:pointer;

float:right;

font-size:30px;

}