body{

margin:0;

font-family:Poppins;

background:black;

color:white;

}


nav{

background:black;

padding:20px;

position:fixed;

width:100%;

top:0;

}


nav a{

color:gold;

margin:15px;

text-decoration:none;

}


.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}


.hero img{

width:180px;

height:180px;

border-radius:50%;

border:3px solid gold;

object-fit:cover;

}


h1{

font-size:45px;

}


h2{

color:gold;

}


section{

padding:80px;

text-align:center;

}


.card{

background:#111;

padding:20px;

margin:20px auto;

width:300px;

border:1px solid gold;

border-radius:10px;

}


.btn{

background:gold;

color:black;

padding:10px 20px;

text-decoration:none;

margin-top:20px;

display:inline-block;

}


footer{

text-align:center;

padding:20px;

background:#111;

}