body {

background-color: black;

color: gold;

font-family: Arial;

margin: 0;

}


/* HERO */

.hero {

text-align: center;

padding: 100px;

background: linear-gradient(black, #111);

}


.hero h1 {

font-size: 50px;

}


.hero h2 {

color: white;

}


.logo {

width: 120px;

margin-top: 20px;

}



/* SECTIONS */

.section {

padding: 50px;

text-align: center;

}



/* CARDS */

.cards {

display: flex;

justify-content: center;

flex-wrap: wrap;

}


.card {

background: #111;

border: 1px solid gold;

padding: 20px;

margin: 15px;

width: 250px;

border-radius: 10px;

transition: 0.3s;

}


.card:hover {

background: gold;

color: black;

transform: scale(1.05);

}


/* LINKS */

a {

color: gold;

text-decoration: none;

}