body{

margin:0;

font-family:Poppins;

background:black;

color:white;

}


nav{

display:flex;

justify-content:space-between;

padding:20px;

background:black;

position:fixed;

width:100%;

z-index:1000;

}


nav a{

color:gold;

margin:10px;

text-decoration:none;

}


section{

padding:100px 20px;

max-width:1000px;

margin:auto;

}


.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}


.hero img{

width:180px;

height:180px;

border-radius:50%;

border:3px solid gold;

object-fit:cover;

}


h2{

color:gold;

margin-bottom:30px;

}


.grid{

display:flex;

gap:30px;

flex-wrap:wrap;

justify-content:center;

}


.card{

background:#111;

padding:20px;

border:1px solid gold;

width:300px;

transition:.3s;

}


.card:hover{

transform:scale(1.05);

}


.card img{

width:100%;

}


.timeline-item{

border-left:2px solid gold;

padding-left:20px;

margin-bottom:30px;

}


.skill{

margin:20px 0;

}


.bar{

height:10px;

background:#333;

}


.bar div{

height:10px;

background:gold;

}


.btn{

background:gold;

color:black;

padding:12px 25px;

text-decoration:none;

margin-top:20px;

display:inline-block;

}


.clouds{

position:fixed;

width:100%;

height:100%;

background:url("https://i.ibb.co/7bQQYkX/clouds.png");

opacity:.05;

animation:cloudMove 60s linear infinite;

}


@keyframes cloudMove{

0%{background-position:0}

100%{background-position:10000px}

}


.fade{

opacity:0;

transform:translateY(40px);

transition:1s;

}


.fade.show{

opacity:1;

transform:translateY(0);

}