body{

margin:0;

font-family:Poppins;

color:white;

background:black;

}

#particles-js{

position:fixed;

width:100%;

height:100%;

z-index:-1;

}

nav{

display:flex;

justify-content:space-between;

padding:20px;

background:#111;

}

nav a{

color:white;

margin:10px;

text-decoration:none;

}

header{

text-align:center;

padding:40px;

}

.profile{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

border:4px solid cyan;

}

button{

padding:12px;

background:cyan;

border:none;

cursor:pointer;

}

section{

padding:40px;

}

.skill{

margin:20px 0;

}

.bar{

background:#333;

height:10px;

}

.bar div{

background:cyan;

height:10px;

animation:grow 2s;

}

@keyframes grow{

from{width:0}

}

.project{

background:#111;

padding:20px;

margin:15px 0;

cursor:pointer;

}

.project:hover{

background:#222;

}

.certs img{

width:100px;

margin:10px;

}

.modal{

display:none;

position:fixed;

width:100%;

height:100%;

background:rgba(0,0,0,0.8);

}

.modal-content{

background:#111;

padding:20px;

margin:10%;

}

.close{

float:right;

cursor:pointer;

}