body{

font-family:Poppins;

margin:0;

background:black;

color:white;

}


nav{

display:flex;

justify-content:space-between;

padding:15px;

background:black;

}


nav ul{

display:flex;

gap:15px;

list-style:none;

}


nav a{

color:gold;

text-decoration:none;

}


.hero{

text-align:center;

padding:40px;

}


.profile{

width:150px;

border-radius:50%;

}


button{

padding:12px;

background:gold;

border:none;

font-size:18px;

}


.project-container{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

}


.card{

border:1px solid gold;

padding:20px;

width:300px;

}


.card img{

width:100%;

}


.bar{

background:#333;

height:10px;

}


.fill{

background:gold;

height:10px;

}


.cert-container img{

width:80px;

margin:10px;

}


section{

padding:40px;

}


footer{

text-align:center;

padding:20px;

}


/* MOBILE */

@media(max-width:768px){

.project-container{

flex-direction:column;

align-items:center;

}

nav ul{

flex-direction:column;

}

}