body{

margin:0;

font-family:Poppins;

background:black;

color:gold;

}


section{

padding:60px;

text-align:center;

}


.hero{

height:100vh;

background:linear-gradient(black,#111);

display:flex;

justify-content:center;

align-items:center;

}


.profile{

width:150px;

border-radius:50%;

border:3px solid gold;

}


h1{

font-size:50px;

}


h2{

color:white;

}


.card{

background:#111;

margin:20px auto;

padding:20px;

width:300px;

border:1px solid gold;

border-radius:10px;

transition:0.3s;

}


.card:hover{

background:gold;

color:black;

transform:scale(1.05);

}


.btn{

background:gold;

color:black;

padding:10px 20px;

text-decoration:none;

border-radius:5px;

}


.skill{

width:300px;

margin:auto;

}


.bar{

background:#333;

height:10px;

}


.bar div{

background:gold;

height:10px;

}


a{

color:gold;

}